.about{
    margin-bottom: 75px;
}
.about_start{
    height: 250px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: center;
}
.about_text h3{
    display: flex;
    justify-content: flex-start;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
    text-transform: uppercase;
    color: #333333;
}
.about_text{
    margin-bottom: 35px;
}
.about_numbers{
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.about_map:not(:last-child){
    border-right: 1px solid #C7C7C7;
}
.about_map h4{
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    background: linear-gradient(115.11deg, #F32C6D 10.12%, #CB1D95 100.01%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-right: 50px;
}
.about_map p{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

@media(max-width: 1100px){
    .about_map p{
        font-size: 14.9px;
    }
    .about_map h4{
        font-size: 33px;
    }
}

@media(max-width: 950px){
    .about{
        display: none;
    }
}